@import "../../variable.scss";

.work {
  width: 100%;
  &__wrapper {
    margin-bottom: 45px;
  }
  &__message {
    font-family: Jost;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: $text_color;
    text-align: center;
  }
}
