@import "../../variable.scss";

.title {
  display: flex;
  align-items: center;
  &__wrapper {
    margin-bottom: 35px;
  }
  &__line {
    width: 100%;
    border: 1px solid #2f2f50;
  }
  &__text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    color: $text_color;
    text-transform: uppercase;
    padding-right: 30px;
    white-space: pre;
  }
}
