@import "../../variable.scss";

.skills {
  width: 100%;
  &__wrapper {
    margin-bottom: 45px;
  }
  &__content {
    margin: 0px 90px;
  }
  &__body {
    width: 100%;
  }
}
.stack {
  &__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: $text_color;
    text-align: center;
    margin-bottom: 20px;
  }
  &__skills {
    padding: 30px;
    border: 1px solid $line_color;
    border-radius: 5px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(5, minmax(auto, 100px));
    grid-template-rows: repeat(auto-fit, minmax(auto, 144px));
    row-gap: 50px;
    column-gap: 115px;
    & li {
      grid-column: span 1;
      &:nth-last-child(1) {
        grid-column-start: 4;
      }
      &:nth-last-child(2) {
        grid-column-start: 3;
      }
      &:nth-last-child(3) {
        grid-column-start: 2;
      }
    }
  }
  &__wrapper {
    margin-bottom: 35px;
  }
}
